* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "asse 5";
    src: url('../fonts/asse5.ttf');
}

@font-face {
    font-family: "asse 6";
    src: url('../fonts/asse6.ttf');
}

@font-face {
    font-family: "asse 11";
    src: url('../fonts/asse11.ttf');
}

html {
    scroll-behavior: smooth;
    font-size: 100%;
}





/*----- body -----*/

body {
    position: relative;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    background-color: white;
    /*background-color: rgb(230, 230, 230);*/
}

body::-webkit-scrollbar {
    display: none;
}

.noscroll {
    overflow: hidden;
}




/*----- navigation -----*/


.navi {
    position: fixed;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    background-color: black;
    z-index: 2;
}

.navi-frame {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 120vh;
    margin-left: 25px;
    margin-right: 25px;
}

.navi-elements {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.chapter {
    display: none;
}




/*----- frame -----*/

.pages {
    position: relative;
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.frame {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 120vh;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 75px;
    margin-bottom: 125px;
}




/*----- burger -----*/

.menu-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 17px;
    width: 20px;
    cursor: pointer;
}

.menu-burger {
    width: 100%;
    height: 3px;
    background-color: white;
}

.menu-burger::before,
.menu-burger::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: white;
}

.menu-burger::before {
    transform: translateY(-7px);
}

.menu-burger::after {
    transform: translateY(7px);
}

.menu-btn.open .menu-burger {
    animation-name: ani-middle-for;
    animation-duration: 0.6s;
    visibility: hidden;
}

.menu-btn.open .menu-burger::before {
    animation-name: ani-top-for;
    animation-duration: 0.6s;
    transform: rotate(-45deg);
    background-color: red;
    visibility: visible;
}

.menu-btn.open .menu-burger::after {
    animation-name: ani-bottom-for;
    animation-duration: 0.6s;
    transform: rotate(45deg);
    background-color: red;
    visibility: visible;
}

@keyframes ani-top-for {
    0% {
        transform: translateY(-7px);
        background-color: white;
    }
    50% {
        transform: translateY(0px);
        background-color: white;
    }
    51% {
        transform: translateY(0px);
    }
    100% {
        transform: rotate(-45deg);
    }
}

@keyframes ani-bottom-for {
    0% {
        transform: translateY(7px);
        background-color: white;
    }
    50% {
        transform: translateY(0px);
        background-color: white;
    }
    51% {
        transform: translateY(0px);
    }
    100% {
        transform: rotate(45deg);
    }
}

@keyframes ani-middle-for {
    0% {
        visibility: visible;
    }
    50% {
        visibility: visible;
    }
    51% {
        visibility: hidden;
    }
    100% {
        visibility: hidden;
    }
}

.menu-btn.close .menu-burger {
    animation-name: ani-middle-back;
    background-color: white;
    animation-duration: 0.6s;
}

.menu-btn.close .menu-burger::before {
    animation-name: ani-top-back;
    animation-duration: 0.6s;
    background-color: white;
    visibility: visible;
}

.menu-btn.close .menu-burger::after {
    animation-name: ani-bottom-back;
    animation-duration: 0.6s;
    background-color: white;
    visibility: visible;
}

@keyframes ani-top-back {
    0% {
        transform: rotate(-45deg);
        background-color: red;
    }
    50% {
        transform: translateY(0px);
        background-color: red;
    }
    51% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-7px);
    }
}

@keyframes ani-bottom-back {
    0% {
        transform: rotate(45deg);
        background-color: red;
    }
    50% {
        transform: translateY(0px);
        background-color: red;
    }
    51% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(7px);
    }
}

@keyframes ani-middle-back {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    51% {
        visibility: visible;
    }
    100% {
        visibility: visible;
    }
}





/*----- menu -----*/

.menu {
    position: fixed;
    display: none;
    top: 50px;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.90);
    z-index: 1;
}

.menu-overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.menu-links {
    position: relative;
    display: flex;
    justify-content: center;
    width: 128vh;
    margin-left: 25px;
    margin-right: 25px;
    height: 100%;
    flex-direction: column;
    z-index: 2;
}

.page-links {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.menu-language {
    position: relative;
    display: flex;
    flex-direction: column;
}

.menu-socials {
    position: relative;
    display: flex;
    flex-direction: column;
}

.menu-copy {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.segment {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.segment-c {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.line {
    position: relative;
    width: 20px;
    height: 3px;
    background-color: white;
}

.gap {
    width: 25px;
    height: 25px;
}

.logospace {
    position: relative;
    width: 20px;
    height: 20px;
}

.logo {
    width: 100%;
    height: 100%;
    opacity: 0.55;
    transition: .3s ease;
}

.logo:hover {
    opacity: 1;
}




/*-----imp-----*/

.imprint {
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    top: 50px;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.imp-page {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.imp-frame {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 120vh;
    margin-left: 25px;
    margin-right: 25px;
}

.imprint-grid {
    position: relative;
    display: grid;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "a b b" 
    "a b b";
}

#impHeader {
    display: none;
}

.imp-box-a {
    grid-area: a;
    position: relative;
    transition: .3s ease;
    overflow: hidden;
}

.imp-box-b {
    grid-area: b;
    position: relative;
    transition: .3s ease;
    overflow: hidden;
    padding-top: 100%;
}

.imp-box-overlay {
    position: absolute;
    flex-direction: column;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: .3s ease;
}




/*-----home-----*/

.home {
    position: relative;
    display: grid;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2);
    grid-template-areas:
    "a b b"
    "a b b";
}

.home-box-a {
    grid-area: a;
    position: relative;
    transition: .3s ease;
}

.home-box-b {
    grid-area: b;
    position: relative;
    transition: .3s ease;
    overflow: hidden;
    padding-top: 100%;
}




/*----- about me -----*/

.about {
    display: none;
}

.about-grid {
    position: relative;
    display: grid;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "a b b" "c d d";
}

.about-box-a {
    grid-area: a;
    position: relative;
    transition: .3s ease;
    padding-top: 100%;
    overflow: hidden;
}

.about-box-b {
    grid-area: b;
    position: relative;
    transition: .3s ease;
    overflow: hidden;
    background-color: white;
}

.about-box-c {
    grid-area: c;
    position: relative;
    transition: .3s ease;
    overflow: hidden;
    background-color: rgb(129, 236, 236);
}

.about-box-d {
    grid-area: d;
    position: relative;
    transition: .3s ease;
    overflow: hidden;
    background-color: white;
}

.about-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: .3s ease;
    opacity: 1;
}

.about-overlay-2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 20px;
    transition: .3s ease;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.about-overlay-3 {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 20px;
    transition: .3s ease;
    opacity: 0;
    background-color: black;
}

.about-overlay-4 {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 20px;
    transition: .3s ease;
    opacity: 0;
}

.textcolumn {
    position: relative;
    display: flex;
    flex-direction: column;
}

.columns {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.text-overlay {
    transform: translateY(-25px);
    transition: .3s ease;
}

.about-box-a:hover .about-overlay-2 {
    opacity: 1;
}

.about-box-a:hover .pic {
    filter: blur(1.5px);
}

.about-box-a:hover .text-overlay {
    transform: translateY(0px);
}

.about-box-c:hover .about-overlay-3 {
    opacity: 1;
}

.about-box-c:hover .about-overlay-4 {
    opacity: 1;
}

.about-box-c:hover .projectname {
    transform: translateY(0px);
    opacity: 1;
}

.about-box-c:hover .projectlink {
    transform: translateY(0px);
    opacity: 1;
}

.about-box-a:hover .projectname {
    transform: translateY(0px);
    opacity: 1;
}

.projectlink :hover {
    color: white;
}





/*----- work -----*/

.work {
    display: none;
}

.work-grid {
    position: relative;
    display: grid;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.box {
    position: relative;
    padding-top: 100%;
    transition: .3s ease;
    overflow: hidden;

}

.pic {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 0;
    transition: .3s ease;
    padding: 25px;
}

.text-overlay {
    position: relative;
    height: 100%;
    width: 100%;
}

.projectname {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: .3s ease;
    transform: translateY(-25px);
    opacity: 0;
}

.projectlink {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    transition: .3s ease;
    transform: translateY(25px);
    opacity: 0;
}


/*----- slideshow -----*/


.project {
    display: none;
}

.slideshow-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}

.slideshow {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

#work1 {
    display: none;
}

#work2 {
    display: none;
}

#work3 {
    display: none;
}

#work4 {
    display: none;
}

#work5 {
    display: none;
}

#work6 {
    display: none;
}

#work1Header {
    display: none;
}

#work2Header {
    display: none;
}

#work3Header {
    display: none;
}

#work4Header {
    display: none;
}

#work5Header {
    display: none;
}

#work6Header {
    display: none;
}

.slides {
    display: none;
}

.slideshow-controls {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: .3s ease;
}

.slideshow-controls-pages {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    padding-top: 25px;
}

.slideshow-controls-prev-next {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.slideshow-controls-compass {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    padding-bottom: 25px;
}

.button-prev {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 50px;
    padding-left: 3px;
    background-color: black;
    transform: translateX(-25px);
    transition: .3s ease;
    opacity: 0
}

.prev {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 3px solid white;
    border-right: 3px solid white;
    transition: .3s ease;
    transform: rotate(-135deg);
}

.button-next {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 50px;
    padding-right: 3px;
    background-color: black;
    transform: translateX(25px);
    transition: .3s ease;
    opacity: 0
}

.next {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 3px solid white;
    border-right: 3px solid white;
    transition: .3s ease;
    transform: rotate(45deg);
}

.compass {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(25px);
    transition: .3s ease;
    opacity: 0
}

.dot {
    cursor: pointer;
    height: 12.5px;
    width: 12.5px;
    margin-left: 7.5px;
    margin-right: 7.5px;
    background-color: rgb(150, 150, 150);
    display: inline-block;
    transition: 0.6s ease;
}

.active {
    background-color: black;
}

.dot:hover {
    background-color: black;
}

.slideshow-rotate-screen {
    position: absolute;
    display:flex;
    flex-direction: column;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    display: none;
}

#rotateHeader {
    display: none;
}

.box:hover .box-overlay {
    opacity: 1;
}

.box:hover .projectname {
    transform: translateY(0px);
    opacity: 1;
}

.box:hover .projectlink {
    transform: translateY(0px);
    opacity: 1;
}

.projectlink :hover {
    color: white;
}

.box:hover .pic {
    filter: blur(1.5px);
}

/*
.box:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.30);
}
*/




.button-prev:hover .prev {
    transform: rotate(-135deg);
    border-top: 3px solid black;
    border-right: 3px solid black;
}

.button-prev:hover {
    background-color: white;
}

.button-next:hover .next {
    transform: rotate(45deg);
    border-top: 3px solid black;
    border-right: 3px solid black;
}

.button-next:hover {
    background-color: white;
}

.slideshow:hover .slideshow-controls {
    opacity: 1;
}

.slideshow:hover .button-prev {
    opacity: 1;
    transform: translateX(0px);
}

.slideshow:hover .button-next {
    opacity: 1;
    transform: translateX(0px);
}

.slideshow:hover .compass {
    opacity: 1;
    transform: translateX(0px);
}





/*-----resume-----*/

.resume {
    display: none;
}

.resume-grid {
    position: relative;
    display: grid;
    grid-column-gap: 25px;
    grid-row-gap: 75px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2);
    grid-template-areas:
    "a b"
    "c d";
}

.resume-box-a {
    grid-area: a;
    position: relative;
    display: flex;
}

.resume-box-b {
    grid-area: b;
    position: relative;
    display: flex;
    flex-direction: column;
}

.resume-box-c {
    grid-area: c;
    position: relative;
    display: flex;
}

.resume-box-d {
    grid-area: d;
    position: relative;
    display: flex;
    flex-direction: column;
}




/*----- contact -----*/

.contact {
    display: none;
}

.contact-grid {
    position: relative;
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: repeat (2, 1fr);
    grid-template-areas:
    "a c c"
    "b c c";
}

.contact-box-a {
    grid-area: a;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100%;
    overflow: hidden;
}

.contact-box-b {
    grid-area: b;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100%;
    overflow: hidden;
}

.contact-box-c {
    grid-area: c;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100%;
    overflow: hidden;
}

.contact-box-c:hover .box-overlay {
    opacity: 1;
}

.contact-box-c:hover .projectname {
    transform: translateY(0px);
    opacity: 1;
}

.contact-box-c:hover .projectlink {
    transform: translateY(0px);
    opacity: 1;
}

.contact-box-c:hover .pic {
    filter: blur(1.5px);
}

.contact-box-b:hover .box-overlay {
    opacity: 1;
}

.contact-box-b:hover .projectname {
    transform: translateY(0px);
    opacity: 1;
}

.contact-box-b:hover .projectlink {
    transform: translateY(0px);
    opacity: 1;
}

.contact-box-b:hover .pic {
    filter: blur(1.5px);
}

.contact-box-a:hover .box-overlay {
    opacity: 1;
}

.contact-box-a:hover .projectname {
    transform: translateY(0px);
    opacity: 1;
}

.contact-box-a:hover .projectlink {
    transform: translateY(0px);
    opacity: 1;
}

.contact-box-a:hover .pic {
    filter: blur(1.5px);
}

.message {
    cursor: pointer;
}

.resume {
    cursor: pointer;
}

.portfolio {
    cursor: pointer;
}



/*----- request -----*/

.request {
    display: none;
}

.request-grid {
    position: relative;
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "a b b"
    "c d d";
}




.request-box-a {
    grid-area: a;
    position: relative;
}

.request-box-a-grid {
    position: absolute;
    display: grid;
    flex-direction: column;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
    "t"
    "t"
    "a"
    "b"
    "c";
}

.request-box-a-text {
    grid-area: t;
    position: relative;
    display: flex;
    flex-direction: column;
}

.checkbox-a {
    grid-area: a;
    position: relative;
    display: flex;
}

.checkbox-b {
    grid-area: b;
    position: relative;
    display: flex;
}

.checkbox-c {
    grid-area: c;
    position: relative;
    display: flex;
}




.request-box-b {
    grid-area: b;
    position: relative;
    display: flex;
}

.request-box-c {
    grid-area: c;
    position: relative;
    padding-top: 100%;
}

.request-box-d {
    grid-area: d;
    position: relative;
}

.doc-grid {
    position: absolute;
    display: grid;
    flex-direction: column;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 2fr;
    grid-template-rows: repeat(13, 1fr);
    grid-template-areas:
    "t"
    "t"
    "."
    "a"
    "b"
    "c"
    "."
    "d"
    "d"
    "d"
    "d"
    "d"
    "d";
}





.checkbox-a div {
    position: relative;
    width: 100%;
    border: 3px solid rgb(129, 236, 236);
}

.checkbox-a div label { /*klickfläche*/
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color:rgb(129, 236, 236);
}

.checkbox-a label input[type="checkbox"] {
    display: none;
}

.checkbox-a div label span {
    font-size: 16px;
    font-weight: 500;
    font-family: 'asse 11';
    line-height: 100%;
    color: white;
}



.checkbox-b div {
    position: relative;
    width: 100%;
    border: 3px solid rgb(129, 236, 236);
}

.checkbox-b div label {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.checked {
    background-color: rgb(129, 236, 236);
    transition: 0.3s;
}

.checkbox-b label input[type="checkbox"]:checked {
    background-color: rgb(129, 236, 236);
    color:black;
    border: 3px solid rgb(129, 236, 236);
}

.checkbox-b div.checked label span {
    color: white;
}

.checkbox-b div label span {
    font-size: 16px;
    font-weight: 500;
    font-family: 'asse 11';
    line-height: 100%;
    color: rgb(129, 236, 236);
}

.checkbox-c div {
    position: relative;
    width: 100%;
    border: 3px solid rgb(129, 236, 236);
}

.checkbox-c div label {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.checkbox-c div.checked label span {
    color: white;
}

.checkbox-c div label span {
    font-size: 16px;
    font-weight: 500;
    font-family: 'asse 11';
    line-height: 100%;
    color: rgb(129, 236, 236);
}

.doc-box-d {
    grid-area: e;
    position: relative;
    display: flex;
}

.write-message {
    display: none;
}

.req-resume {
    display: none;
}

.req-portfolio {
    display: none;
}

.req-resume-portfolio {
    display: none;
}







.request-box-b-grid {
    position: absolute;
    display: grid;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
    "a a"
    "b c"
    "d e"
    "f g"
    "h i"
}

.request-box-d-grid {
    position: absolute;
    display: grid;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
    "j j j j"
    "j j j j"
    "j j j j"
    "j j j j"
    ". . k k"
}

input[type=text] {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 500;
    font-family: 'asse 11';
    padding-left: 12.5px;
    padding-right: 12.5px;
    border: 3px solid rgb(230, 230, 230);
    color: black;
}

input[type=text]:focus,
input[type=text]:valid {
    background-color: rgb(230, 230, 230);
    outline: none;
}

::placeholder {
    color: rgb(200, 200, 200);
}

textarea:focus,
textarea:valid {
    background-color: rgb(230, 230, 230);
    outline: none;
}

textarea::placeholder {
    font-size: 16px;
    font-weight: 500;
    font-family: 'asse 11';
    line-height: 100%;
    color: rgb(200, 200, 200);
}

input, textarea {
    font-size: 16px;
    font-weight: 500;
    font-family: 'asse 11';
    line-height: 100%;
    color: rgb(150, 150, 150);
}

.form-box-1 {
    grid-area: a;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

.form-box-a {
    grid-area: a;
    position: relative;
    display: flex;
    z-index: 1;
}

.form-box-b {
    grid-area: b;
    position: relative;
    display: flex;
    z-index: 1;
}

.form-box-c {
    grid-area: c;
    position: relative;
    display: flex;
    z-index: 1;
}

.form-box-d {
    grid-area: d;
    position: relative;
    display: flex;
    z-index: 1;
}

.form-box-e {
    grid-area: e;
    position: relative;
    display: flex;
    z-index: 1;
}

.form-box-f {
    grid-area: f;
    position: relative;
    display: flex;
    z-index: 1;
}

.form-box-g {
    grid-area: g;
    position: relative;
    display: flex;
    z-index: 1;
}

.form-box-h {
    grid-area: h;
    position: relative;
    display: flex;
    z-index: 1;
}

.form-box-i {
    grid-area: i;
    position: relative;
    display: flex;
    z-index: 1;
}

.form-box-j {
    grid-area: j;
    position: relative;
    display: flex;
    z-index: 1;
}

.form-box-k {
    grid-area: k;
    position: relative;
    display: flex;
    z-index: 1;
}

.form-box-j textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 3px solid rgb(230, 230, 230);
    color: black;
    resize: none;
}

.form-box-k div { /*klickrahmen*/
    position: relative;
    width: 100%;
    border: 3px solid rgb(129, 236, 236);
}

.form-box-k div label { /*klickfläche*/
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.form-box-k label input[type="checkbox"] {
    display: none;
}

.form-box-k div label span {
    font-size: 16px;
    font-weight: 500;
    font-family: 'asse 11';
    line-height: 100%;
    color: rgb(129, 236, 236);
}

.form-box-k div label:hover {
    background-color: rgb(129, 236, 236);
}

.form-box-k div label:hover span {
    color: white;
}




/*----- footer-----*/

.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}




/*----- fonts-----*/

a {
    text-decoration: none;
}

a:hover {
    color: white;
}

h1 {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    font-family: 'asse 5';
    line-height: 20px;
    color: white;
}

h2 {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    font-family: 'asse 5';
    line-height: 20px;
    color: black;
}

h3 a {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    font-family: 'asse 5';
    line-height: 16px;
    color: rgb(150, 150, 150);
}

h4 {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'asse 5';
    line-height: 20px;
    color: rgb(129, 236, 236);
}

h4 a {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'asse 5';
    line-height: 20px;
    color: rgb(129, 236, 236);
}

h5 {
    font-size: 16px;
    font-weight: 500;
    font-family: 'asse 11';
    line-height: 20px;
    color: rgb(129, 236, 236);
}

h5 a {
    font-size: 16px;
    font-weight: 500;
    font-family: 'asse 11';
    line-height: 20px;
    color: rgb(129, 236, 236);
}

p {
    font-size: 16px;
    font-weight: 500;
    font-family: 'asse 6';
    line-height: 20px;
    color: rgb(170, 170, 170);
}





/*responsive*/

@media only screen and (max-width: 700px) {


/*navibar*/

.navi-frame {
    margin-left: 20px;
    margin-right: 20px;
}

.frame {
    margin-left: 20px;
    margin-right: 20px;
}





/*impressum*/

.imprint-grid {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "a a" 
    "b b"
    "b b";
}    

.imp-frame {
    margin-left: 20px;
    margin-right: 20px;
}




/*home*/

.home {
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3);
    grid-template-areas:
    "a a"
    "b b"
    "b b";
}




/*about*/

.about-grid {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "a c" "b b" "d d";
}

.about-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: .3s ease;
    opacity: 1;
}

.about-overlay-2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: .3s ease;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.about-overlay-3 {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: .3s ease;
    opacity: 0;
    background-color: black;
}




/*work*/

.work-grid {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.project-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.slideshow-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.slideshow-rotate-screen {
    display: flex;
}




/*resume*/

.resume-grid {
    grid-row-gap: 25px;
    grid-column-gap: 25px;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(4);
    grid-template-areas:
    "a"
    "b"
    "c"
    "d";
}

.resume-box-c {
    padding-top: 50px;
}




/*contact*/

    .contact-grid {
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        grid-template-columns: repeat (2, 1fr);
        grid-template-rows: repeat (3, 1fr);
        grid-template-areas:
        "a b"
        "c c"
        "c c";
    }

    .request-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
        "a"
        "c"
        "b"
        "d";
    }

    .request-box-a-grid {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .request-box-b-grid {
        position: relative;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, auto);
        grid-template-areas:
        "a"
        "b"
        "c"
        "d"
        "e"
        "f"
        "g"
        "h"
        "i";
    }

    .request-box-d-grid {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .form-box-j {
        height: 460px;
        width: 100%;
    }

    .form-box-k {
        width: 50%;
    }

    #formbox {
        height: 40px;
    }
}